@import "../var/_colors.scss";
@import "../var/_global.scss";
@import "../parent/reset.scss";

.first-footer {
    margin-top: 80px;
    .container {
        border-top: 2px solid #C3C4C8;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    img {
        margin-left: 2px;
        margin-right: 2px; 
        margin-bottom: 5px;
    }
}

.footer-navigation {
    list-style: none;
    padding: 0;     
    li {
      display: inline-block;
      margin-left: 45px;
      a {
        color: $colorLink;
        &:hover {
            text-decoration: none;
            color: #1b6ea7;
        }
      }
    }
}

.second-footer {
    margin-top: 47px;
    padding-bottom: 20px;
    // .container {
    //     padding: 0;
    // }
    h2 {
        font-size: 18px;
        line-height: 26px;
        color: $colorText;
        font-weight: 400;
        padding-bottom: 17px;
    }
    & p {
        font-size: 16px;
        line-height: 20px;
        color: $colorText;
        padding: 0;
    }
}
