@import "../parent/reset.scss";

#carouselDemo {
    .carousel-indicators li {
        width: 16px;
        height: 16px;
        border: 2px solid $colorFont;
        border-radius: 50%;
        margin-right: 30px;
        opacity: 1;
        cursor: pointer;
        .active {           
            background-color: $colorFont;
        }   
    }
    // .container {
    //     padding: 0;
    // }
    .carousel-caption {
        text-align: left;
    }
    .btn-danger {
        margin-top: 15px;
        padding: 9px 26px;
        text-transform: uppercase;
        border-color: $colorFont;
        border-radius: 0;
        font-size: 16px;
        line-height: 19px;
    }
}

.carousel:hover {
    .carousel-indicators,
    .carousel-control-prev,
    .carousel-control-next {
        opacity: 1;
    }
}

@media (max-width: 855px) {
    #carouselDemo, #carouselExampleSlidesOnly {
        display: none;
    }
}

.top-content {
  background-color: #f0f0f0;
  padding: 20px 20px 34px 20px;
//   .container {
//       padding: 0;
//   }
    h3 {
      font-size: 41px;
      line-height: 49px;
      text-align: center;
      font-weight: 300;
      padding: 20px 0;
    }
    & .schnella {
      display: flex;
      flex-direction: column;
      justify-content: center; 
      align-items: center; 
    }
}

.schnella-two  {
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 16px; 
    a {
      color: #454142;
        &:hover {
            color: #0d70ad;
            text-decoration: none;
        }   
    }
  }
  
.main-content {
    background-color: #ffffff;
    padding: 40px 0 60px;
    .single {
        margin: 0 auto;
    }
    // .container {
    //     padding: 0;
    // }
    h2 {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        padding-top: 15px;
        padding-bottom: 10px;
    }
    & h1 {
        font-size: 25px;
        line-height: 27px;
        font-weight: 400;
        padding-bottom: 20px;
    }
    & p {
        font-size: 15px;
        line-height: 20px;
    }
}

.content-one {
    padding: 45px 0;
    background-color: #ccebf4;
    // .container {
    //     padding: 0;
    // } 
    & h3 {
        font-size: 41px;
        line-height: 49px;
        font-weight: 400;
        padding-bottom: 34px;
        padding-top: 10px;
    }
    & h4 {
        font-size: 25px;
        line-height: 26px;
        font-weight: 400;
        padding-bottom: 10px;
    }
    & p {
        font-size: 15px;
        line-height: 18px;
    }
    & .btn-danger {
        margin-top: 17px;
        padding: 6px 20px;
        text-transform: uppercase;
        border-color: $colorFont;
        border-radius: 0;
    }
}

p.slide-for-second {
    text-align: left;
    font-size: 36px;
    line-height: 28px;
    font-weight: 400;
    padding: 0 5px;
    margin: 2px 0;
    margin-bottom: 10px;
}

.main-content-for-second {
    margin-top: 30px;
    font-family: "Mucho Sans", "PT Sans";
    .container {
        margin-bottom: 30px 0;
        border-bottom: 1px solid $color;
        .left-column {
           padding-top: 19px;
           border-right: 2px solid $colorBorder;
           border-bottom: 2px solid $colorBorder;
           background-color: #fcfcfc;
           box-shadow: 5px 5px 1px rgba(221, 221, 221, 0.5);
        }
    }
    & .right-column {
        margin-bottom: 30px;
        padding: 0 0 0 30px;
        color: #454042;
        h2 {
            font-size: 32px;
            line-height: 35px;
            font-weight: 400;
            padding-bottom: 17px;
        }
        h1 {
            font-size: 52px;
            line-height: 60px;
            font-weight: 300;
            padding-bottom: 8px;
            color: #454042;
        }
        p {
            font-size: 18px;
            line-height: 24px;
        }
    }
}
.left-column h4 {
   padding: 0 31px 20px 15px; 
   font-size: 19px;
   font-weight: 400;
   line-height: 25px;
   cursor: default;
   color: #404040; 
}
.left-navigation {
    list-style: none; 
    padding-left: 15px;
    li a {
        color: #7b787a;
        font-size: 15px;
        &:hover {
            color: $colorLink;
            text-decoration: none; 
        }
    }
    li.active a {
        color: $colorLink;  
    }
}

@media (max-width: 992px) {
    .main-content-for-second .left-column {
        display: none;
    }
}

.for-flex {
    display: flex;
    align-items: flex-start;
}

.breadcrumbs-section {
    margin-bottom: 30px;
    border-bottom: 1px solid $color;
}

.breadcrumbs {
    padding: 12px 0;
    list-style: none;
    margin: 0;
    li {
        display: inline-block;
        font-size: 14px;
        a {
            color: $colorLink;
            &:hover {
                text-decoration: none;
                color: #1b6ea7; 
            }
        }        
    }
    & .active {
        color: #777777;
    }
}

.breadcrumbs > li + li:before {
    content: '';
    padding: 0 13px;
    background: url(../img/triangle-right.png);
    background-repeat: no-repeat;
    background-position: 11px 4px;
}

@media (max-width: 991px) {
    .breadcrumbs-section {
        display: none;
    }
}

.img-wrap {
    margin-top: 24px; 
    position: relative; 
    overflow: hidden;

    .text-in-img {
        position: absolute;
        max-width: 324px;
        max-height: 409px;
        z-index: 100;
        padding: 0 20px 20px 20px;
        background-color: rgba(250,250,250,0.8);
        margin-top: 10px;
        margin-left: 60px;

        h3 {
            text-transform: uppercase;
            padding: 3px 0;
            color: #3fa2ca;
            font-size: 18px;
        }
    }
}

@media (max-width: 600px) {
    .img-wrap {
        display: none;
    }
}








