@import "../var/_colors.scss";
@import "../var/_global.scss";

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
  background-image: url("../img/bg-fon.jpg");
  color: #454042;
  overflow-x: hidden;   // Убираем нижний скролл
  p {
    margin: 0;
    font-size: 12px;
    padding-bottom: 16px;
  }
  & h1, & h2, & h3, & h4,&  h5, & h6 {
      margin-bottom: 0;
  }
                                                  //   На моём компе отображаеся совершенно по-другому
//   & body {
//     font-family: "Mucho Sans", "PT Sans";
//   }
}

a, li, p, h4 {
    font-size: 17px;
    line-height: 26px;
}



 




